*
{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body { 
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
}

.mainDiv
{
    height: 100vh;
    width: 100%;
    display: flex;
    min-width: 360px;
    margin: 0 auto;
}

.leftPane
{
    width: 40%;
    min-width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightPane
{
    width: 60%;
    background-color: blue;
    display: flex;
    align-items: flex-end;
}

.rightPane>div
{
    margin-left: 80px;
    width: 580px;
}

.rightPane>div>img{
    width: 100%;
}

.resetForm
{
    max-width: 360px;
}

.logo
{
    display: flex;
    height: 32px;
    width: fit-content;
    align-items: center;
    justify-items: center;
}

#logoText
{
margin-left: 7px;
font-weight: 900;
font-size: 24px;
line-height: 32px;
}

.backButton
{
    margin-top: 8.33%;
    cursor: pointer;
    height: 25px;
    width: fit-content;
    border: none;
    background: none;
    padding: 0;
}

.resetPasswordText
{
    margin: 30px 0;
}

#resetPasswordText1
{
font-weight: bold;
font-size: 24px;
line-height: 32px;
color: #121212;
}

#resetPasswordText2
{
font-weight: 500;
font-size: 17.5px;
line-height: 26px;
color: #808080;
}

::placeholder{
    color:  #808080;
    font-weight: 100;
}

.errorMessage
{
font-weight: bold;
width: 400px;
font-size: 12px;
line-height: 16px;
color: #EB0808;
margin: 10px 0 0 0;
}

.inputMobile
{
    margin-top:65px;
}

.inputMobile > input
{
    width: 360px;
    height: 45px;
    background: #F5F8FE;
    border: 0.5px solid rgba(128, 128, 128, 0.25);
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 15px;
    color: blue;
    font-weight: bold;
}

.sendOTPButton
{
width: 360px;
height: 45px;
background: #2851E7;;
border-radius: 8px;
opacity: 0.5;
color: white;
font-size: 16px;
line-height: 21px;
cursor: pointer;
}

.sendOTPMain
{
margin-top: 15px;
display: flex;
align-items: center;
justify-content: center;
}

@media  screen and (max-width: 910px){

    .rightPane
    {
        display: none;
    }

    .leftPane, .resetForm
    {
        width: 100%;
    }
}

@media  screen and (max-width: 600px){

    .rightPane
    {
        display: none;
    }

    .leftPane
    {
        margin: 0 20px;
    }   
}