body { 
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.mainDiv
{
    height: 100vh;
    display: flex;
}

.leftPane
{
    width: 40%;
    height: 100%;
}

.rightPane
{
    width: 60%;
    height: 100%;
    background-color: blue;
    display: flex;
    align-items: flex-end;
}

.formContainer
{
    width: 100%;
    max-width: 360px;
    margin: 70px auto 0;
}
.logo
{
    display: flex;
    height: 32px;
    width: fit-content;
    align-items: center;
    justify-items: center;
}

#logoText
{
margin-left: 7px;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
}

.setPassText
{
    top: 180px;
}

#setPassText1
{
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
color: #121212;
}

#setPassText2
{
font-style: normal;
font-weight: 500;
font-size: 17.5px;
line-height: 26px;
color: #808080;
}

.passwordForm
{
    margin-top:95px;
}

.inputPassword
{
    margin-top: 100px;
}

#inputPassword
{
width: 360px;
height: 45px;
left: 80px;
top: 358px;
background: #F5F8FE;
border: 0.5px solid rgba(128, 128, 128, 0.25);
box-sizing: border-box;
border-radius: 8px;
padding-left: 15px;
color: blue;
font-weight: bold;
}

::placeholder
{
    color:  #808080;
    font-weight: 100;
}

.setPasswordButton
{
width: 360px;
height: 45px;
background: #2851E7;;
border-radius: 8px;
opacity: 0.5;
color: white;
font-size: 16px;
line-height: 21px;
cursor: pointer;
transition: transform .1s;
}

.setPasswordButton:hover
{
    background-color: blue;
    opacity: 0.7;
    transform: scale(1.05);
}

.setPassword
{
margin-top: 15px;
display: flex;
align-items: center;
justify-content: center;
}